.header {
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.image img {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 1024px;
    max-height: 683px;
}

.headContainer {
    width: 100%;
    max-width: 1024px;
    max-height: 683px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 100px 0px;
}


.text {
    max-width: 40%;
    color: white;
    margin: 10% 0 0 10%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.text>h1 {
    font-size: 50px;
}

.text>button {
    font-size: 14px;
    padding: 14px 20px 14px 20px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
    width: fit-content;
}

.imageItem {
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px;
    border-color: white;
}

.imageItem img {
    width: 140px;
    height: 94px;
    margin: 10px;
    border: .5px solid white;
    border-radius: 3px;
}

.headerSearch {
    height: 50px;
    background-color: #003172;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 8px;
    position: absolute;
    bottom: -40px;
    gap: 10px;
}

.headerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1024px;
    padding: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 0;
}

.box>label {
    font-size: 16px;
}

.box>input {
    border: none;
    background-color: cornflowerblue;
    padding: 10px 15px;
    border-radius: 5px;
}

::placeholder {
    color: black;
}

.headerSearch>button {
    height: 70px;
    border: none;
    background-color: cornflowerblue;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}