.header {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.loginContainer {
    background-color: coral;
    width: 1280px;
    height: 250px;
    margin-bottom: 50px;
}

.loginContainer.loginMode {
    height: 180px;
}

.loginWrapper {
    padding: 40px;
}

.loginItems {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

.loginText>b {
    color: #003172;
    margin: 0 7px;
}

.loginBtn {
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #0071c2;
    color: aliceblue;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.image {
    z-index: -1;
    width: 100%;
    max-width: 1024px;
    max-height: 683px;
}

.headContainer {
    position: absolute;
    width: 100%;
    max-width: 1024px;
    max-height: 683px;
    display: flex;
    justify-content: space-between;
    margin: 180px 0px 100px 0px;
}


.text {
    max-width: 40%;
    color: white;
    margin: 10% 0 0 10%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.text>h1 {
    font-size: 50px;
}

.text>button {
    font-size: 14px;
    padding: 14px 20px 14px 20px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
    width: fit-content;
}

.imageItem {
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px;
    border-color: white;
}

.imageItem>img {
    width: 140px;
    height: 94px;
    margin: 10px;
    border: .5px solid white;
    border-radius: 3px;
}

.headerSearch {
    height: 70px;
    width: 90%;
    max-width: 1024px;
    background-color: #003172;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 8px;
    position: absolute;
    bottom: -50px;
    gap: 10px;
}

.headerContainer {
    display: flex;
    flex: 3;
    justify-content: space-between;
    padding: 5px;
}

.box {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 0;
}

.box>label {
    font-size: 16px;
    color: white;
}

.headerSearchItem {
    flex: 2;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 10px;
    padding: 8px 15px;
    border-radius: 5px;
}

.headerSearchIcon {
    color: dimgrey;
}

.headerSearchText,
.optionCounterNumber {
    color: dimgray;
    font-weight: 600;
}

.date {
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 2;
}

.optionCounter {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 5px;
}

.optionCounterNumber {
    padding: 0 45px;
}

.headerSearch>button {
    height: 65px;
    border: none;
    background-color: cornflowerblue;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}